@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
/* font-family: 'Splash', cursive; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@700&display=swap');
/* font-family: 'IBM Plex Sans Hebrew', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
/* font-family: 'Rubik', sans-serif; */
 .head-line{
    font-size: 550%;
     font-family: 'Rubik', sans-serif;
     color: #050a30cb;
  }
  .orang-spam{
    color: #ff8c00;
  }
  .main-par{
    font-size: 150%;
    color: #a1a1a1;
  }
  
  .text-black{
    font-size: 110%;
  }
  .fw-normal{
    border-color: black;
  }
  #text-center{
    margin-left: 10%;
    margin-right: 5%;
  }
  
  
  
  #oder-process{
    font-size: 120%;
  }
  
  #process-play{
    margin-right: 3%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #ff8c00;
    border-radius: 100%;
  }
  
  #process-play:hover{
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    color: #840808b5;
    
  }
  .btn-hover:hover{
    color: #010101b5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  
  
  
  #copyright-hover:hover{
    color: rgb(117, 133, 127);
  }
  
  .center-b{
    text-align: center;
  }
  .center{
    /* display: flex; */
    display: block;
    text-align: center;
  }